# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Jetbrains GoLand
.idea/
.vscode/
*.swp
*.swo

!bin/README.md

# Temporarily commit dotenv for demo purposes
# .env

_output
dist
.gomod
mcd

# SAST
.analyzer
gl-preparation-report.txt
.envrc

vendor/
.rollout_check.list
.mcd_policy
/*.json
